/* Normal */
#title {
    background-color: whitesmoke;
}

.container-fluid{
    padding: 2% 15%;
   
}


nav {
    font-family: 'Calibri', sans-serif;
    
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
}

p {
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}


/* Navigation Bar */
.navbar {
    padding-bottom: 2.5rem;
    
}
.nav-link{
    font-weight: 10000;
}
.navbar-brand {
    font-family: 'inter', sans-serif;
    color: #5A66FF;
}

.dropdown {
    font-weight: 500;
    padding-right: 2rem;
} 

.img-fluid {
    width: 37px;
    padding-right: 5px;
}

.diamond {
    margin-left: 8rem;
}
/* Links */
.link-primary {
     font-family: 'inter', sans-serif;
     text-decoration: none;
     color: #6447FF;
     font-size: .95rem; 
    }

/* Button */

.button-center{
    font-family: 'Calibri', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 4% 4% 8% 0;
    width: 10rem;
    height: 2.8rem;
    box-shadow: 7px 7px 1px #D5D6EA
}
#btnLearn {
    color: white;
    background-color: #5A66FF;
}
#btnContact, #btnSign{
    color: #5A66FF;
    border-color: #5A66FF;
}
#btnSign{
    font-weight: 500;
}

#btnLearn:hover {
    color: #5A66FF;
    border-color: white;
    background-color: white;
    border-color: #5A66FF;
}

#btnContact:hover, #btnSign:hover {
    background-color: #5A66FF;
    color: white;
}


.fas {
    padding-right: .5em;
    color: #7982F5;
}